body {
	margin: 0;
	padding: 0;
	background: #F9F9F9;
	font-family: 'Roboto';
}

/*-------------------------- MAIN --------------------------*/

#main {
	position: relative;
	width: 100vw;
	height: 55vh;
	overflow: hidden;
}

#main-header {
	position: absolute;
	bottom: 0px;
	left: 50px;
	color: #565656;
}

#hello {
	font-weight: 500;
	letter-spacing: 0.2em;
	opacity: 0.9;
}

.name {
	font-size: 6.5em;
	font-weight: 600;
	color: #78AFD0;
	line-height: 0.95em;
}

#descrip {
	font-weight: 100;
	font-size: 1.5em;
}

.line {
  width: 75px;
  border-bottom: 2px solid #d0d0d0;
  margin-top: 30px;
}

.rect {
	position: absolute;
	opacity: 0.75;
}

#rect1 {
  width: 200px;
  height: 200px;
  background: #D3E4EA;
  transform: rotate(25deg);
  right: -75px;
  top: 100px;
}

#rect2 {
  width: 300px;
  height: 300px;
  background: #EAEAEA;
  transform: rotate(-15deg);
  right: 15px;
  top: -150px;
}

#rect3 {
  width: 400px;
  height: 400px;
  background: #D8D8D8;
  transform: rotate(75deg);
  top: -300px;
  left: 200px;
}

#rect4 {
  width: 200px;
  height: 200px;
  background: #DCE9EF;
  transform: rotate(45deg);
  left: -15px;
  top: -120px;
}

#rect5 {
	width: 400px;
	height: 400px;
	background: #ebeff1;
	transform: rotate(-50deg);
	left: 600px;
	top: -250px;
}

/*-------------------------- PROJECTS --------------------------*/

#projects {
	background: #F5F5F5;
	width: 100vw;
	position: relative;
	padding-bottom: 175px;
}

#proj-descrip {
	font-weight: 100;
	font-size: 0.35em;
	color: #565656;
}

.section-header {
	font-size: 3em;
	font-weight: 700;
	color: #78AFD0;
	float: right;
	margin-right: 60px;
	margin-top: 35px;
}

#section-line {
	margin: 0 auto;
	margin-top: 20px;
}


#proj-container {
	width: 80vw;
	top: 150px;
	position: relative;
	left: 50vw;
	transform: translateX(-50%);
}

.project {
	width: 30vw;
	height: 20vw;
	margin: 50px 20px 50px 70px;
}

.proj-descrip {
	position: absolute;
	width: inherit;
	height: inherit;
	color: gray;
	right: 100px;
}

.box {
	position: relative;
	width: 175px;
	height: 35px;
}

.title-box {
	position: absolute;
	width: inherit;
	height: inherit;
	background: #78AFD0;
}

#poke-box {
	width: 295px;
}

#guide-box {
	width: 355px;
}

.proj-title {
	font-size: 2.5em;
	font-weight: 600;
	position: absolute;
	right: -8px;
	bottom: -12px;
}

#daily-title1 {
	color: #565656;
}

#daily-title2 {
	color: white;
	right: -3px;
	bottom: -9px;
}

#proj-line {
	margin: 15px auto;
}

.proj-snippet {
	font-weight: 300;
	max-width: 75%;
	margin: 20px auto;
}

.proj-lang {
	max-width: 75%;
	margin: 0 auto;
	font-size: 0.75em;
}

.proj-view {
	letter-spacing: 0.08em;
	border: solid 2px #565656;
	display: table;
	margin: 25px auto;
	padding: 10px;
	font-size: 0.8em;
	transition: 0.5s;
}

.proj-link {
	text-decoration: none;
	color: #565656;
}

.proj-view:hover {
	background: #565656;
	cursor: pointer;
}

.proj-view:hover .proj-link {
	cursor: pointer;
	color: white;
}


.project:hover .proj-descrip {
	opacity: 1;
}

.project-img {
	width: inherit;
	height: inherit;
	object-fit: cover;
}

/*-------------------------- ABOUT --------------------------*/

#about {
	width: 100%;
	height: 600px;
	position: relative;
}

#hi {
	font-size: 1.8em;
}

#bullets {
	margin: 30px;
	font-weight: 300;
}

#about-text {
	position: absolute;
	width: 50vw;
	line-height: 1.75em;
	left: 50%;
	transform: translateX(-50%);
	top: 125px;
	font-size: 1.35em;
	color: #565656;
}

#about-text a {
	text-decoration: none;
	color: #78AFD0;
	transition: 0.3s;
	font-weight: 400;
}

#about-text a:hover {
	color: darkgray;
}

/*-------------------------- CONTACT --------------------------*/

#contact {
	width: 100%;
	height: 500px;
	position: relative;
	background: #F5F5F5;
}

.contact-container {
  width: 480px;
  margin: 0 auto;
}

.contact-box {
  width: 150px;
  height: 300px;
  display: inline-block;
  padding-top: 50%;
}

.contact-box-img {
  position: absolute;
  width: 120px;
  height: 120px;
}

.contact-box-txt {
  position: absolute;
  margin-top: 125px;
  width: 120px;
  text-align: center;
  font-size: 0.7em;
  opacity: 0.7;
  letter-spacing: 0.03em;
}

.contact-img {
  position: absolute;
  height: 120px;
  width: 120px;
  opacity: 0.8;
}

#contact-text {
	position: absolute;
	top: 200px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 1.5em;
	color: #565656;
}

#contact-text a {
	text-decoration: none;
	color: #78AFD0;
	opacity: 0.8;
	transition: 0.3s;
}

#contact-text a:hover {
	color: darkgray;
}

.emph {
	font-weight: 600;
	color: #78AFD0;
	opacity: 0.8;
}

/*-------------------------- MEDIA QUERIES --------------------------*/

@media (max-width: 1220px) {
	.proj-title {
		font-size: 2em;
	}

	.box {
		width: 125px;
	}

	#poke-box {
		width: 225px;
	}

	#guide-box {
		width: 275px;
	}

	.proj-descrip {
		right: 75px;
	}
}

@media (max-width: 1050px) {
	.proj-descrip {
		font-size: 0.85em;
		width: 40vw;
		right: 0px;
	}

	.box {
		width: 110px;
	}

	#poke-box {
		width: 200px;
	}

	#guide-box {
		width: 240px;
	}

	.proj-title {
		bottom: -9px;
	}

	#daily-title2 {
		bottom: -6px;
	}

}


@media (max-width: 960px) {
	#proj-container {
		width: 85vw;
	}
	.proj-descrip {
		right: 45px;
	}
}

@media (max-width: 740px) {
	.name {
		font-size: 5em;
	}
}

@media (max-width: 600px) {
	.name {
		font-size: 4em;
	}

	#descrip {
		font-size: 1.25em;
	}

}

@media (max-width: 460px) {
	.name {
		font-size: 2.5em;
	}
}

@media (max-width: 350px) {
	#main-header {
		bottom: 0px;
		left: 20px;
	}

	#rect1 {
		top: 50px;
	}
}

